/* https://www.w3schools.com/howto/howto_css_image_transparent.asp */
* {
    box-sizing: border-box;
  }

  .container {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  
  .container img {
    vertical-align: middle;
    border-radius: 10px;
}
  
  .container .content {
    position: relative;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }

